# Default 7z implementation, can be either absolute path or relative path to wpass.exe
executable_path="7za.exe"

# Default password dictionary, can be either absolute path or relative path to wpass.exe
password_file="dict.txt"